.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding: 0px 20px;
  font-size: 20px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.search {
  padding: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  padding: 5px;
}
.res-card {
  width: 225px;
  height: 325px;
  padding: 10px;
  margin: 5px;
  background: #f0f0f0;
}
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-img {
  width: 100%;
  height: 150px;
}
.res-card > h3,
.res-card > h4 {
  margin: 5px 0px;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  padding: 5px;
}
.shimmer-card {
  width: 200px;
  height: 300px;
  margin: 20px;
  background-color: #f0f0f0;
}
.login {
  padding: 0px 20px;
  cursor: pointer;
}
.filter {
  display: flex;
}
